flask
flask-cors
requests
python-dotenv
google-generativeai
pillow
numpy
pandas
matplotlib
opencv-python-headless
tqdm
feedparser
tweepy
praw
exifread
geopy
onnxruntime
gradio-client
seaborn
rasterio
spacy
tensorflow
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
transformers
